:root {
  --color-bg-champagne: #f8fcee;
  --color-bg-magnolia: #f8f4ff;
  --color-green-primary: #054e05;
  --color-green-signal: #317f43;
  --color-accent-mulberry: #470736;
  --color-accent-soil: #d8c9aa;
  --color-accent-chernozem: #24292c;

  --font-main: 'Inter', sans-serif;
  --font-heading: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-main);
  background-color: var(--color-bg-champagne);
  color: var(--color-accent-chernozem);
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
}

h1, h2, h3 {
  font-family: var(--font-heading);
  font-weight: 700;
  letter-spacing: -0.02em;
}

#root {
  width: 100%;
}